@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: left;
}

span {
    font-weight: bold;
}